* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  /* text-decoration: none; */
  font-family: sans-serif;
  list-style-type: none;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background: blue;
  padding: 20px 30px;
}

nav {
  margin: 0 10px;
  ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: 1fr;
  }
}

main {
  background: green;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}

aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  div {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
