body {
    background-color: rgb(207, 203, 203);
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 70%;
    margin: 0 auto;
}
img {
    width: 50px;
}
.profile-img {
    border-radius: 50%;
    width: 200px;
}
.navbar {
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style-type: none;

}
main {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.vertical_Line {
    border: 2px solid rgb(27, 2, 255);
    
}
aside {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.contacts {
    text-align: center;
}
footer {
    display: flex;
    justify-content:space-between;
    padding: 0 50px 0 50px;
}